.loginscreen{
    align-items: center;
    background-color: $third;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100vw;
    height: 100%;
    padding: 5%;
}

.loginscreen__img{
   display: flex;
   justify-content: center;
   max-height: 45vh;
        &:first-child{
            width: 100%;
            height: 100%;
        }
}

.loginscreen__title{
    margin-bottom: 2%;
    color: $primary;
}



.loginscreen__form{
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.auth__input{
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    height: 20px;
    transition: border-bottom .3s ease;
    

    &:focus{
        outline: none;
        border-bottom: 1px solid $primary;
    }

}

.loginscreen__btn{
    width: 100%;
}

.google-icon-wrapper{
    text-align: center;
    cursor: pointer;
}

.loginscreen__link{
    margin-top: 2rem;
    text-align: center;
    color: black;

    &:hover {
        color: $secundary;
    }
}