//Colors
$primary: #11E4E4;
$secundary: #021B34;
$third: #3B3B3B;

//figma colors design
$btntext: #595959;
$btnweb: #5AB16D;
$btnwebtext: #FFFFFF;
$btnsize: #0B7015;
$btnIndustry: #7B70F4;
$cardborder: #BABABA;

//fonts
$primaryfont: Roboto;
$secundaryfornt: Rubik;



